[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/markmultiple"]
	path = bundle/markmultiple
	url = https://github.com/adinapoli/vim-markmultiple.git
[submodule "bundle/textobj-indent"]
	path = bundle/textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vroom"]
	path = bundle/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "bundle/crosshairs"]
	path = bundle/crosshairs
	url = https://github.com/chreekat/vim-paren-crosshairs.git
